/*Header Styles*/
header {
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #fff;
}
.dsa-banner {
	background-image: url(../../assets/images/pages/DSA_feature.jpg);
}
.layover-banner {
	background-image: url(../../assets/images/pages/layover_feature.jpg);
}
.lunchbuddy-banner {
	background-image: url(../../assets/images/pages/lunchMoney_feature.jpg);
}
.treno-banner {
	background-image: url(../../assets/images/pages/Project_shell.jpg);
}
.uncubed-banner {
	background-image: url(../../assets/images/pages/uncubed_feature.jpg);
}
.chopshop-banner {
	background-image: url(../../assets/images/pages/chopshop_feature.jpg);
}
.project-btn {
	top: 0;
}
.project-intro {
	padding: 15px 0px 0px;
	font-family: 'Playfair Display', serif;
	line-height: 28px;
	font-size: 1.25rem;
}
h3 {
	margin: 0px;
}
.tabs {
	width: 100%;
	float: left;
}

ul.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
ul.tabs li{
	background: none;
	color: #000;
	display: block;
	padding: 10px 15px;
	cursor: pointer
}

ul.tabs li.current{
	background: #8EA50F;
	color: #fff;
}

.tab-content{
	display: none;
	padding: 0px 15px;
}

.tab-content.current{
	display: inherit;
}
.notice {
    text-align: left;
}
.project-btn {
	background-color: #fff;
	color: #000;
}
.project-btn .fa:hover {
	cursor: inherit;
	color: #000;
}
.project-description {
    margin: 45px 0px;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1; /* IE < 8 */
}
.project-icons li {
    width: 100%;
    float: left;
    text-align: center;
    padding: 25px 45px;
}
.project-icons .fa {
    font-size: 2.25rem;
    color: #8EA50F;
    cursor: inherit;
}
@media screen and (min-width: 600px) {
	.project-icons li {
	    width: 50%;
	}
	.notice {
	    text-align: right;
	    padding: 35px;
	}
}
@media screen and (min-width: 1008px) {

	.tabs {
	width: 20%;
	float: left;
}
	.tab-content {
		width: 90%;
		padding: 0px 0px 0px 255px;
	}

}




