@import url('https://fonts.googleapis.com/css?family=Playfair+Display:900|Raleway: 400,900');
* {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}
img {
	max-width: 100%;
}
h1, h2, h3, h4 {
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
}
header {
	height: 500px;
	background-color: #000;
}
blockquote {
	font-family: 'Playfair Display', serif;
	color: #fff;
	margin: 0;
	font-size: 1.85rem;
	position: relative;
	letter-spacing: 1px;
	top: 35%;
	padding: 0px 35px;
}
ul {
	list-style-type: none;
	padding: 0;
}
nav li {
	line-height: 35px;
}
nav a, .fa {
	color: #000;
	text-decoration: none;
}
.active {
	color: #8EA50F;
}
.active:hover {
	border-bottom: none!important;
}
.first-link {
	padding-top: 18px;
}
footer {
	text-align: center;
	font-size: 10px;
}
.fa:hover {
	color: #8EA50F;
}
.m-navigation {
	background-color: #fff;
	height: 100px;
	text-align: center;
	position: fixed;
	z-index: 5000;
}
.m-navigation ul {
	margin: 0px;
}
.m-navigation li {
	display: inline-flex;
	padding: 10px 25px;
}
.m-nav-social {
	top: -15px;
	position: relative;
}
.m-nav-social li {
    font-size: 13px;
}
.left-navigation {
	background-color: #fff;
	height: 1000px;
	display: none;
}
.col-3 {
	width: 33.33%;
}
.col-4 {
	width: 25%;
}
.col-12 {
	width: 100%;
}
.col-3,.col-4,.col-6,.col-8,.col-12 {
	float: left;
}
.nav-social {
	position: relative;
	top: 15%;
	text-align: center;
}
.nav-social li {
	display: inline-block;
	padding: 0px 15px;
}
.project img {
	padding: 3px;
}
.projects-container {
	padding-top: 3px;
}
.project {
	position: relative;
	display: block;
}
.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #8EA50F;
	display: none;
}
.project:hover .overlay {
	opacity: 1;
	cursor: pointer;
}
.text {
	color: #000;
	top: 40%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}
.category {
	font-style: italic;
	letter-spacing: 2px;
	font-size: 12px;
	color: #fff;
	margin: 8px 0px;
}
.name {
	font-size: 1rem;
	letter-spacing: 2px;
	margin: 0px;
}
.project-btn {
    padding: 10px 20px;
    background-color: #000;
    cursor: pointer;
    color: white;
    position: relative;
    top: 35px;
    font-size: 13px;
    text-decoration: none;
}
.project-btn:hover {
	text-decoration: underline;
}

/*About Page Styles*/
header.about-page {
	background-image: url(../../assets/images/about/header.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #fff;
}
.about-title {
	top: 45%;
	text-align: center;
	color: #fff;
	position: relative;
	text-shadow: .5px .5px #000;
}
.about-title h1 {
	margin: 0;
	text-transform: uppercase;
	font-size: 3rem;
}
.about-title p {
	font-size: 1.5rem;
	margin: 0;
	letter-spacing: 6px;
}
.headshot {
	background-image: url(../../assets/images/about/headshot.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	width: 125px;
	height: 125px;
	border-radius: 100%;
	margin: 0px auto;
}
.about-container {
	position: relative;
	padding: 10px 20px;
	line-height: 28px;
}
.body-bold {
    font-weight: 600;
}
.about-quote {
	font-family: 'Playfair Display', serif;
	font-size: 3rem;
	line-height: 58px;
}
/*Accordion Style for About Page*/
.interests-container {
	display: none;
}
.accordion {
	width: 100%;
	max-width: 100%;
	height: 500px;
	overflow: hidden;
	margin: 50px 0px 0px;
}
.accordion ul {
	width: 100%;
	display: table;
	table-layout: fixed;
	margin: 0;
	padding: 0;
}
.accordion ul li {
	display: table-cell;
	vertical-align: bottom;
	position: relative;
	width: 16.666%;
	height: 500px;
	background-repeat: no-repeat;
	transition: all 500ms ease;
}
.accordion ul li div {
	display: block;
	overflow: hidden;
	width: 100%;
}
.accordion ul li div section {
	display: block;
	height: 500px;
	width: 100%;
	position: relative;
	z-index: 3;
	vertical-align: bottom;
	padding: 15px 20px;
	color: #fff;
	text-decoration: none;
	transition: all 200ms ease;
}
.accordion ul li div section * {
	opacity: 0;
	margin: 0;
	width: 100%;
	text-overflow: ellipsis;
	position: absolute;
	z-index: 5;
	white-space: nowrap;
	overflow: hidden;
	-webkit-transform: translateX(-20px);
	transform: translateX(-20px);
	-webkit-transitions: all 400ms ease;
	transition: all 400ms ease;
	bottom: 0;
	margin-bottom: 185px;
	text-align: center;
}
.accordion ul li div a h2 {
	text-overflow: clip;
	margin-bottom: 2px;
	top: 160px;
}
.accordion ul li div a p {
	top: 160px;
}
.accordion ul li:nth-child(1) {background-image: url("../../assets/images/about/pittsburgh.jpg");}
.accordion ul li:nth-child(2) {background-image: url("../../assets/images/about/cat2.jpg");}
.accordion ul li:nth-child(3) {background-image: url("../../assets/images/about/penguins.jpg");}
.accordion ul:hover li {
	width: 8%;
}
.accordion ul:hover li:hover {
	width: 17%;
}
.accordion ul:hover li:hover section {
	background: rgba(0,0,0,.46);
}
.accordion ul:hover li:hover section * {
	opacity: 1;
	-webkit-transform: translateX(0);
	transfrom: translate(0);
}
.services-container {
	padding: 0;
	margin: 0;
}
.accordion h3 {
	color: #fff;
	top: 50%;
	letter-spacing: 2px;
	text-transform: uppercase;
}
/*End About Me Styles*/
@media screen and (min-width: 800px) {
	nav {
		position: fixed;
		top: 0;
		width: 25%;
		text-align: center;
		margin-top: 5%;
	}
	nav .pages a:hover {
	border-bottom: 4px solid #8EA50F;
	}
	.left-navigation {
		display: block;
	}
	.m-navigation {
		display: none;
	}
	.m-nav-social {
		display: none;
	}
	.col-8 {
		width: 75%;
	}
	.col-6 {
		width: 50%;
	}
	blockquote {
		font-size: 2.5rem;
		width: 50%;
		left: 28%;
		position: relative;
		letter-spacing: 1px;
		top: 25%;
		padding: 0px;
	}
	.text {
		top: 50%;
	}
	.about-title {
		top:25%;
	}
	.about-container {
		padding: 10px 0px;
	}
	.interests-container {
		display: block;
	}
}
@media screen and (min-width: 1025px) {
	.overlay {
		display: block;
	}
}



